<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.sticki.user.mapper.UserMapper">
	<update id="deleteById">
		update user
		set is_deleted = ${id}
		where id = ${id}
		  and is_deleted = 0
	</update>
</mapper>
