@font-face {
  font-family: "iconfont"; /* Project id 3332214 */
  src: url('iconfont.woff2?t=1653486708474') format('woff2'),
       url('iconfont.woff?t=1653486708474') format('woff'),
       url('iconfont.ttf?t=1653486708474') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shipin:before {
  content: "\e644";
}

.icon-lianjie:before {
  content: "\eadc";
}

.icon-biaoqing:before {
  content: "\e72d";
}

.icon-gengduo:before {
  content: "\e603";
}

.icon-pinglun:before {
  content: "\e6ad";
}

.icon-dianzan_kuai:before {
  content: "\ec8c";
}

.icon-zhuanfa:before {
  content: "\e628";
}

.icon-tupian:before {
  content: "\e8ba";
}

.icon-xiangxia:before {
  content: "\e602";
}

.icon-youjiantou:before {
  content: "\e658";
}

.icon-zuojiantou:before {
  content: "\e63b";
}

.icon-erweima:before {
  content: "\e600";
}

.icon-shezhi:before {
  content: "\e601";
}

.icon-wenbenbianji:before {
  content: "\e6d5";
}

.icon-xinxifill:before {
  content: "\e762";
}

.icon-changjianwentixiangguanwenti:before {
  content: "\e689";
}

.icon-wenzhang:before {
  content: "\e668";
}

.icon-sousuo:before {
  content: "\eafe";
}

.icon-yunshangchuan:before {
  content: "\eb2c";
}

.icon-kefu:before {
  content: "\ec2e";
}

.icon-24gf-telephone2:before {
  content: "\e96d";
}

.icon-chengjiu:before {
  content: "\e627";
}

.icon-xingqiu:before {
  content: "\e65c";
}

.icon-a-youjianchakanyoujianfasongyoujianshouyoujian-06:before {
  content: "\e918";
}

.icon-xinjianxiangmu-285:before {
  content: "\e9ba";
}

